<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>cam_photo</title>
<div align="Center">
  <form action="/parametres" method="POST">
    <button type="submit" style="background-color: lightgrey; text-align: center; height: 50px; width: 200px">Param&egravetres</button>
  </form> 
  </br>
  <form action="/visualisation" method="POST">
    <button type="submit" style="background-color: lightgrey; text-align: center; height: 50px; width: 200px">Affichage</button>
  </form>
  </br>
  <form action="/timelapse" method="POST">
    <button type="submit" style="background-color: lightgrey; text-align: center; height: 50px; width: 200px">Timelapse</button>
  </form>
  </br>
  <form action="/mouvement" method="POST">
    <button type="submit" style="background-color: lightgrey; text-align: center; height: 50px; width: 200px">Mouvement</button>
  </form>
  </br>
  <form action="/halt" method="POST">
    <button type="submit" style="background-color: lightgrey; text-align: center; height: 50px; width: 200px">Arrêt Raspberry</button>
  </form>
</div>
</HTML>
